/***
 *    ------------   --------   ----    ---- ------------ --------  -----------    ********      ------    ------------    ------      --------   
 *    ************  **********  *****   **** ************ ********  ***********   ----------    ********   ************   ********    **********  
 *    ---          ----    ---- ------  ---- ----           ----    ----    ---  ************  ----------  ---           ----------  ----    ---- 
 *    ***          ***      *** ************ ************   ****    *********    ---  --  --- ****    **** ***          ****    **** ***      *** 
 *    ---          ---      --- ------------ ------------   ----    ---------    ***  **  *** ------------ ---          ------------ ---      --- 
 *    ***          ****    **** ****  ****** ****           ****    ****  ****   ---  --  --- ************ ***          ************ ****    **** 
 *    ------------  ----------  ----   ----- ----         --------  ----   ----  ***  **  *** ----    ---- ------------ ----    ----  ----------  
 *    ************   ********   ****    **** ****         ********  ****    **** ---      --- ****    **** ************ ****    ****   ********   
 *                                                                                                                                                
 */


/*Confirmação*/

main div {
    position: absolute;
    border: 0.25em solid #333333;
    width: 80%;
    font-style: normal;
    font-weight: 600;
    font-size: 4em;
    text-align: center;
    background-color: #FFFFFF;
    display: none;
    z-index: 2;
}

main div button {
    width: 5em;
    height: 2em;
    background-color: #2C5680;
    border: 1px solid #333333;
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 0.3em;
    line-height: 1.75em;
    color: #FFFFFF;
    margin: 0.2em 0em 2em;
}

main div button.buttonContinue {
    display: none;
}

main div button:hover {
    background-color: #FFFFFF;
    border: 1px solid #2C5680;
    color: #2C5680;
    cursor: pointer;
}


/***
 *    ------------    ------    -----------  ----------   ------------ 
 *    ************   ********   ***********  ************ ************ 
 *    ---           ----------  ----    ---  --        -- ----         
 *    ***          ****    **** *********    **        ** ************ 
 *    ---          ------------ ---------    --        -- ------------ 
 *    ***          ************ ****  ****   **        **        ***** 
 *    ------------ ----    ---- ----   ----  ------------ ------------ 
 *    ************ ****    **** ****    **** **********   ************ 
 *                                                                     
 */


/*Cards*/

section.section-escopo {
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

section.section-escopo h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 2.25em;
    line-height: 2.6em;
    color: #000000;
}

section.section-escopo section.sectionData {
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

section.section-escopo section.sectionData p {
    width: 30%;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5em;
    line-height: 1.25em;
    color: #000000;
}

section.section-escopo section.sectionData section.sectionImg {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
    margin: 0em 5em;
}

section.section-escopo section.sectionData section.sectionImg img {
    height: calc(20.5em - (10em - 20vh));
    width: calc(26.8em - (15em - 20vw));
    position: relative;
    z-index: 1;
}

section.section-escopo section.sectionData section.sectionImg div {
    background-color: #2C5680;
    height: calc(20.5em - (10em - 20vh));
    width: calc(26.8em - (15em - 20vw));
    position: absolute;
    z-index: 0;
    bottom: 7em;
    right: 2em;
    border: solid #333333 0.3em;
}


/***
 *    -----------  ----    ---- ------------ ------------   --------   ----    ---- 
 *    ***********  ****    **** ************ ************  **********  *****   **** 
 *    ----       - ----    ---- ------------ ------------ ----    ---- ------  ---- 
 *    ***********  ****    ****     ****         ****     ***      *** ************ 
 *    -----------  ----    ----     ----         ----     ---      --- ------------ 
 *    ****       * ************     ****         ****     ****    **** ****  ****** 
 *    -----------  ------------     ----         ----      ----------  ----   ----- 
 *    ***********  ************     ****         ****       ********   ****    **** 
 *                                                                                  
 */


/*Button*/

section.section-escopo section.sectionData section.sectionImg button {
    width: 11.25em;
    height: 3.5em;
    left: 13.6em;
    top: 42.75em;
    background-color: #DE5959;
    border: 1px solid #968080;
    margin: 1em;
    font-family: "Roboto";
    font-style: normal;
    font-weight: bold;
    font-size: 1.1em;
    line-height: 1.3em;
    color: #FFFFFF;
}

section.section-escopo section.sectionData section.sectionImg button:hover {
    background-color: #FFFFFF;
    border: 1px solid #DE5959;
    color: #DE5959;
}

section.section-escopo section.sectionData section.sectionImg section.sectionButton {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

section.section-escopo section.sectionData section.sectionImg section.sectionButton :first-child {
    background-color: #7AAC3A;
}

section.section-escopo section.sectionData section.sectionImg section.sectionButton :first-child:hover {
    background-color: #FFFFFF;
    border: 1px solid #7AAC3A;
    color: #7AAC3A;
}