main {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

main section {
    text-align: center;
    font-style: normal;
    font-weight: normal;
    color: #000000;
    margin: 2em 0em 4em;
    width: 80%;
}

main section h1 {
    font-family: "Roboto";
    font-size: 3em;
    line-height: 3.5em;
}

main section p {
    font-size: 1.5em;
    line-height: 1.5em;
}