main section {
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}


/***
 *       ------    ----------   ----------        ----           --------   -----------    --------   
 *      ********   ************ ************      ****          **********  ***********   **********  
 *     ----------  --        -- --        --      ----         ----    ---- ----       - ----    ---- 
 *    ****    **** **        ** **        **      ****         ***      *** ***********  ***      *** 
 *    ------------ --        -- --        --      ----         ---      --- -----------  ---      --- 
 *    ************ **        ** **        **      ************ ****    **** ****       * ****    **** 
 *    ----    ---- ------------ ------------      ------------  ----------  -----------   ----------  
 *    ****    **** **********   **********        ************   ********   ***********    ********   
 *                                                                                                    
 */


/*Botão de adicionar lobo*/

main button {
    width: 4em;
    height: 1.4em;
    background: #DEB959;
    border: 1px solid #333333;
    font-family: 'Darker Grotesque', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 2.25em;
    color: #FFFFFF;
}

main button:hover {
    background: #FFFFFF;
    border: 1px solid #DEB959;
    color: #DEB959;
    cursor: pointer;
}


/***
 *    ------------ ------------    ------    -----------  ------------ ----    ---- 
 *    ************ ************   ********   ***********  ************ ****    **** 
 *    ----         ----          ----------  ----    ---  ---          ----    ---- 
 *    ************ ************ ****    **** *********    ***          ************ 
 *    ------------ ------------ ------------ ---------    ---          ------------ 
 *           ***** ****         ************ ****  ****   ***          ****    **** 
 *    ------------ ------------ ----    ---- ----   ----  ------------ ----    ---- 
 *    ************ ************ ****    **** ****    **** ************ ****    **** 
 *                                                                                  
 */


/*Barra de pesquisa*/

main>section {
    flex-direction: row;
    gap: 1em;
    margin-top: 4em;
}

main>section form>input {
    height: 2.9em;
    width: 50vw;
    background: url(assets/search.png) no-repeat scroll 7px 7px;
    padding-left: 2.8em;
    border: 1px solid #333333;
}


/***
 *    ------------    ------    -----------  ----------   ------------ 
 *    ************   ********   ***********  ************ ************ 
 *    ---           ----------  ----    ---  --        -- ----         
 *    ***          ****    **** *********    **        ** ************ 
 *    ---          ------------ ---------    --        -- ------------ 
 *    ***          ************ ****  ****   **        **        ***** 
 *    ------------ ----    ---- ----   ----  ------------ ------------ 
 *    ************ ****    **** ****    **** **********   ************ 
 *                                                                     
 */


/*Cards*/

main section.sectionGeral {
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

main section.sectionGeral section.section-escopo {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 3em;
}

main section.sectionGeral section.section-escopo section.section-wolfs-img {
    position: relative;
    margin: 0em 5em;
}

main section.sectionGeral section.section-escopo section.section-wolfs-img img {
    height: calc(20.5em - (10em - 20vh));
    width: calc(26.8em - (15em - 20vw));
    position: relative;
    z-index: 1;
}

main section.sectionGeral section.section-escopo section.section-wolfs-img div {
    background-color: #2C5680;
    height: calc(20.5em - (10em - 20vh));
    width: calc(26.8em - (15em - 20vw));
    position: absolute;
    z-index: 0;
    bottom: 2em;
    right: 2em;
    border: solid #333333 0.3em
}

main section.sectionGeral section.section-escopo section.section-wolfs-txt {
    text-align: left;
    display: flex;
    align-items: left;
    flex-direction: column;
    justify-content: left;
    color: #000000;
    font-style: normal;
}

main section.sectionGeral section.section-escopo section h2 {
    font-weight: bold;
    font-size: 2.2em;
    line-height: 1em;
}

main section.sectionGeral section.section-escopo section h3 {
    font-weight: 300;
    font-size: 1.25em;
    line-height: 1.6em;
}

main section.sectionGeral section.section-escopo section p {
    font-weight: normal;
    font-size: 1.5em;
}

main section.sectionGeral section.section-escopo section button {
    display: inline;
}

main section.sectionGeral section.section-escopo section.section-wolfs-img div.divRight {
    bottom: 2em;
    left: 2em;
}

main section.sectionGeral section.section-escopo section.section-wolfs-txtRight {
    text-align: right;
    display: flex;
    align-items: right;
    flex-direction: column;
    justify-content: right;
    color: #000000;
    font-style: normal;
}


/***
 *    -----------     ------    ------------ --------  ----    ----    ------    ------------    ------      --------   
 *    ************   ********   ************ ********  *****   ****   ********   ************   ********    **********  
 *    ---      ---  ----------  ----           ----    ------  ----  ----------  ---           ----------  ----    ---- 
 *    ************ ****    **** ****  ******   ****    ************ ****    **** ***          ****    **** ***      *** 
 *    -----------  ------------ ----  ------   ----    ------------ ------------ ---          ------------ ---      --- 
 *    ****         ************ ****    ****   ****    ****  ****** ************ ***          ************ ****    **** 
 *    ----         ----    ---- ------------ --------  ----   ----- ----    ---- ------------ ----    ----  ----------  
 *    ****         ****    **** ************ ********  ****    **** ****    **** ************ ****    ****   ********   
 *                                                                                                                      
 */


/*Navegação entre as paginas*/

main nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 3em 0em;
}

main ul {
    display: flex;
    flex-direction: row;
}